@import "tailwindcss";

.window-drag {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.window-no-drag {
  -webkit-app-region: no-drag;
  -webkit-user-select: text;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* 平滑滚动 */
* {
  scroll-behavior: smooth;
}
